{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/tiny-slider/tiny-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/glightbox/css/glightbox.css' %}">
{% endblock %}


{% block tite %}{{ post.title }}{% endblock %}
{% block content %}
    <main>
        <!-- Divider -->
        <div class="border-bottom border-primary border-1 opacity-1"></div>

        <!-- =======================
        Inner intro START -->
        <section class="pb-3 pb-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="{{ post.category.get_absolut_url }}"
                           class="badge text-bg-{{ post.category.color }} mb-2"><i
                                class="fas fa-circle me-2 small fw-bold"></i>{{ post.category }}</a>
                        <h1>{{ post.title }}</h1>
                    </div>
                    <p class="lead">{{ post.description }} </p>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        Main START -->
        <section class="pt-0">
            <div class="container position-relative" data-sticky-container>
                <div class="row">
                    <!-- Left sidebar START -->
                    <div class="col-lg-2">
                        <div class="text-start text-lg-center mb-5" data-sticky data-margin-top="80"
                             data-sticky-for="991">
                            <!-- Author info -->
                            <div class="position-relative">
                                <div class="avatar avatar-xl">
                                    <img class="avatar-img rounded-circle" src="{{ post.user.photo.url }}" alt="avatar">
                                </div>
                                <a href="#" class="h5 stretched-link mt-2 mb-0 d-block">{{ post.user.fullname }}</a>
                                <p>Un éditeur chez Akami</p>
                            </div>
                            <hr class="d-none d-lg-block">
                            <!-- Card info -->
                            <ul class="list-inline list-unstyled">
                                <li class="list-inline-item d-lg-block my-lg-2">{{ post.published_date|date }}</li>
                                {% if request.user.is_superuser %}
                                    <li class="list-inline-item d-lg-block my-lg-2"><i
                                            class="far fa-eye me-1"></i> {{ post.view }} vue
                                    </li>
                                {% endif %}
                            </ul>
                            <!-- Tags -->
                            <ul class="list-inline text-primary-hover mt-0 mt-lg-3">
                                {% for tag in post.tag.all %}
                                    <li class="list-inline-item">
                                        <a class="text-body" href="#">#{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Left sidebar END -->
                    <!-- Main Content START -->
                    <div class="col-lg-7 mb-5">
                        {% autoescape off %}
                            {{ post.body }}
                        {% endautoescape %}

                        <div class="row g-0">
                            {% if preview %}
                                <div class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative border-end border-1 rounded-start">
                                    <span><i class="bi bi-arrow-left me-3 rtl-flip"></i>Previous post</span>
                                    <h5 class="m-0"><a href="{{ preview.get_absolut_url }}"
                                                       class="stretched-link btn-link text-reset">{{ preview.title }}</a>
                                    </h5>
                                </div>
                            {% endif %}
                            {% if next %}
                                <div class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative text-sm-end rounded-end">
                                    <span>Next post<i class="bi bi-arrow-right ms-3 rtl-flip"></i></span>
                                    <h5 class="m-0"><a href="{{ next.get_absolut_url }}"
                                                       class="stretched-link btn-link text-reset">{{ next.title }}</a>
                                    </h5>
                                </div>
                            {% endif %}
                        </div>

                        <!-- Related post START -->
                        {% if False %}
                            <div class="mt-5">
                                <h2 class="my-3"><i class="bi bi-symmetry-vertical"></i>Related post</h2>
                                <div class="tiny-slider arrow-hover arrow-blur arrow-white arrow-round">
                                    <div class="tiny-slider-inner"
                                         data-autoplay="true"
                                         data-hoverpause="true"
                                         data-gutter="24"
                                         data-arrow="true"
                                         data-dots="false"
                                         data-items-xl="2"
                                         data-items-xs="1">

                                        <!-- Card item START -->
                                        {% for related_post in related_posts %}
                                            <div class="card">
                                                <!-- Card img -->
                                                <div class="position-relative">
                                                    <img class="card-img" src="{{ related_post.image.url }}"
                                                         alt="Card image">
                                                    <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                        <!-- Card overlay Top -->
                                                        <div class="w-100 mb-auto d-flex justify-content-end">
                                                            <div class="text-end ms-auto">
                                                                <!-- Card format icon -->
                                                                {#												<div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>#}
                                                            </div>
                                                        </div>
                                                        <!-- Card overlay bottom -->
                                                        <div class="w-100 mt-auto">
                                                            <a href="{{ related_post.category.get_absolut_url }}"
                                                               class="badge text-bg-info mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>{{ related_post.category }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body px-0 pt-3">
                                                    <h5 class="card-title"><a href="{{ related_post.get_absolut_url }}"
                                                                              class="btn-link text-reset stretched-link fw-bold">{{ related_post.title }}</a>
                                                    </h5>
                                                    <!-- Card info -->
                                                    <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                                        <li class="nav-item">
                                                            <div class="nav-link">
                                                                <div class="d-flex align-items-center position-relative">
                                                                    <div class="avatar avatar-xs">
                                                                        <img class="avatar-img rounded-circle"
                                                                             src="{{ related_post.user.photo.url }}"
                                                                             alt="avatar">
                                                                    </div>
                                                                    <span class="ms-3">by <a href="#"
                                                                                             class="stretched-link text-reset btn-link">{{ related_post.user.fullname }}</a></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">{{ related_post.published_date|date }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- Card item END -->

                                    </div>
                                </div> <!-- Slider END -->
                            </div>
                        {% endif %}
                        <!-- Related post END -->

                        <!-- Divider -->
                        <hr>

                        <!-- Author info START -->
                        <div class="d-flex py-4">
                            <!-- Avatar -->
                            <a href="#">
                                <div class="avatar avatar-xxl me-4">
                                    <img class="avatar-img rounded-circle" src="{{ post.user.photo.url }}" alt="avatar">
                                </div>
                            </a>
                            <!-- Info -->
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <div>
                                        <h4 class="m-0"><a href="#" class="text-reset">{{ post.user.fullname }}</a></h4>
                                        <small>An editor at Lawa Zone</small>
                                    </div>
                                    {#							<a href="#" class="btn btn-xs btn-primary-soft">View Articles</a>#}
                                </div>
                                <p class="my-2">{{ post.user.bio }}</p>
                                <!-- Social icons -->
                                {#						<ul class="nav">#}
                                {#							<li class="nav-item">#}
                                {#								<a class="nav-link ps-0 pe-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>#}
                                {#							</li>#}
                                {#							<li class="nav-item">#}
                                {#								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>#}
                                {#							</li>#}
                                {#							<li class="nav-item">#}
                                {#								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>#}
                                {#							</li>#}
                                {#						</ul>#}
                            </div>
                        </div>
                        <!-- Author info END -->

                        <!-- Divider -->
                        <hr>

                        <!-- Comments START -->
                        <div>
                            <h3>{{ comments.count }} comments</h3>
                            <!-- Comment level 1-->

                            {% for comment in comments %}

                                <div class="my-4 d-flex">
                                    <img class="avatar avatar-md rounded-circle float-start me-3"
                                         src="{{ comment.user.photo.url }}" alt="avatar">
                                    <div>
                                        <div class="mb-2">
                                            <h5 class="m-0">{{ comment.user.username }}</h5>
                                            <span class="me-3 small">{{ comment.created_at|date }} </span>
                                            <a href="#" class="text-body fw-normal">Reply</a>
                                        </div>
                                        <p>{{ comment.body }} </p>
                                    </div>
                                </div>
                                {% for comment2 in comment.get_comment %}
                                    <!-- Comment children level 2 -->
                                    <div class="my-4 d-flex ps-2 ps-md-3">
                                        <img class="avatar avatar-md rounded-circle float-start me-3"
                                             src="{{ comment2.user.photo.url }}" alt="avatar">
                                        <div>
                                            <div class="mb-2">
                                                <h5 class="m-0">{{ comment2.user.username }}</h5>
                                                <span class="me-3 small">{{ comment.created_at}} </span>
{#                                                <a href="#" class="text-body fw-normal">Reply</a>#}
                                            </div>
                                            <p>{{ comment2.body }} </p>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% endfor %}

                        </div>
                        <!-- Comments END -->
                        <!-- Reply START -->
                    {% if request.user.is_authenticated %}
                        <div>
                            <h3>Leave a reply</h3>

                            <form class="row g-3 mt-2" action="{% url 'comment' post.slug %}" method="POST">
                                {% csrf_token %}

                                <div class="col-12">
                                    {{ comment_form.as_p }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Post comment</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                        <!-- Reply END -->
                    </div>
                    <!-- Main Content END -->

                    <!-- Right sidebar START -->
                    <div class="col-lg-3">
                        <div data-sticky data-margin-top="80" data-sticky-for="991">
                            <h4>Share this article</h4>
                            <ul class="nav text-white-force">
                                <li class="nav-item">
                                    <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-facebook" href="#">
                                        <i class="fab fa-facebook-square align-middle"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-twitter" href="#">
                                        <i class="fab fa-twitter-square align-middle"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-linkedin" href="#">
                                        <i class="fab fa-linkedin align-middle"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-pinterest" href="#">
                                        <i class="fab fa-pinterest align-middle"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-primary" href="#">
                                        <i class="far fa-envelope align-middle"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="mt-4">

                            </div>
                        </div>
                    </div>
                    <!-- Right sidebar END -->
                </div>
            </div>
        </section>
        <!-- =======================
        Main END -->

        <!-- =======================
        Sticky post START -->
        <!--
        <div class="sticky-post bg-light border p-4 mb-5 text-sm-end rounded d-none d-xxl-block">
          <div class="d-flex align-items-center">

            <div class="me-3">
              <span>Next post<i class="bi bi-arrow-right ms-3 rtl-flip"></i></span>
              <h6 class="m-0"> <a href="javascript:void(0)" class="stretched-link btn-link text-reset">Bad habits that people in the industry need to quit</a></h6>
            </div>

            <div class="col-4 d-none d-md-block">
              <img src="assets/images/blog/4by3/05.jpg" alt="Image">
            </div>
          </div>
        </div>-->
        <!-- =======================
        Sticky post END -->

    </main>
{% endblock %}

{% block js %}
    <!-- Vendors -->
    <script src="{% static 'assets/vendor/tiny-slider/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/vendor/sticky-js/sticky.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.js' %}"></script>

{% endblock %}