{% extends 'base/base_auth.html'%}


{% block content%}
<main>

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="p-4 p-sm-5 bg-primary bg-opacity-10 rounded">
					<h2>Log in to your account</h2>
					<!-- Form START -->
					<form class="mt-4" method="post" action="{%  url 'signin' %}">
						 {% csrf_token %}
						<!-- Email -->
						<div class="mb-3">
							<label class="form-label" for="Email">Email address</label>
							 {{ form.email }}
						</div>
						<!-- Password -->
						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							{{ form.password }}
						</div>
						<!-- Checkbox -->
						<div class="mb-3 form-check">
							 {{ form.keep_signed_in }}
							<label class="form-check-label" for="keep_signed_in">keep me signed in</label>
						</div>
						<!-- Button -->
						<div class="row align-items-center">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-success">Sign me in</button>
							</div>
							<div class="col-sm-8 text-sm-end">
								<span>Don't have an account? <a href="{% url 'signup' %}"><u>Sign up</u></a></span>
							</div>
						</div>
					</form>
					<!-- Form END -->
					<hr>

        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

</main>

{% endblock %}