{% extends 'base/base.html'%}
{% load i18n %}


{% block content%}
<main>

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="bg-primary bg-opacity-10 rounded p-4 p-sm-5">
					<h2>{% translate "Create your free account" %} </h2>
					<!-- Form START -->
					<form class="mt-4" method="post" action="{% url 'signup' %}">
                    {{ form.errors }}
                    	 {% csrf_token %}
						<!-- Email -->
						<div class="mb-3">
							<label class="form-label" for="email">Email address</label>
<!--							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">-->
{{form.email}}
							<small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
						</div>
						<!-- Password -->
						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
<!--							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="*********">-->
                            {{form.password}}
						</div>
						<!-- Password -->
						<div class="mb-3">
							<label class="form-label" for="password2">Confirm Password</label>
<!--							<input type="password" class="form-control" id="exampleInputPassword2" placeholder="*********">-->
                            {{form.password2}}

						</div>
						<!-- Checkbox -->
						<div class="mb-3 form-check">
							{{form.subscribe}}
							<label class="form-check-label" for="subscribe">Yes i'd also like to sign up for additional subscription</label>
						</div>
						<!-- Button -->
						<div class="row align-items-center">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-success">Sign me up</button>
							</div>
							<div class="col-sm-8 text-sm-end">
								<span>Have an account? <a href="{% url 'signin' %}"><u>Sign in</u></a></span>
							</div>
						</div>
					</form>
					<!-- Form END -->
					<hr>

        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

</main>
{% endblock %}